<header class="header">
  <div class="logo-area">
    <a href="/home/index">
      <h1>경희<span>족</span>닷컴</h1>
    </a>
  </div>
  <div class="etc-area">
    <a href="/home/create">
      <button class="btn btn-write">
        족보 기부하기
      </button>
    </a>
  </div>
</header>
<main class="main main_view_1">
  <div class="wrapper recent-group view-result-group clearfix">
    <h2>족보 검색 결과</h2>
    <div class="wrapper banner-group">
      <div class="bold-area">
        <p>
          "<%= @search %>" 검색에 따른 결과
        </p>
        <p>
          <%= @all_count%>
          <span>개의 족보가 기부 됨</span>
        </p>
      </div>
    </div>
    <form class="wrapper search-group" action="/home/view_1" method="get">
      <div class="input-area">
        <input type="search" class="input" name="search" placeholder="계속 검색하기" required>
        <button type="submit" class="btn btn-svg">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
    <div class="subject-components clearfix">
      <% @post_prof.each do |p| %>
      <div class="subject-card">
        <a href="/home/post/<%= p.id %>">
          <div class="card-container">
            <dl>
              <dt>
                <%= p.course %>
              </dt>
              <dd>
                <%= p.prof %>
              </dd>
              <dd>
                <%= p.semester %>
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <% end %>
      <% @post_course.each do |p| %>
      <div class="subject-card">
        <a href="/home/post/<%= p.id %>">
          <div class="card-container">
            <dl>
              <dt>
                <%= p.course %>
              </dt>
              <dd>
                <%= p.prof %>
              </dd>
              <dd>
                <%= p.semester %>
              </dd>
            </dl>
          </div>
        </a>
      </div>
      <% end %>
      
      
    </div>
  </div>
</main>
<footer class="footer">
  <div class="copy-component">
    <p>© 2018 경희족닷컴 ALL RIGHTS RESERVED.</p>
    <a class="email" href="#">
      khujokbo@gmail.com
    </a>
    <a href="#">
      <div class="top animation-container">
        top
      </div>
    </a>
  </div>
</footer>